<div class="footer">
    <div class="leftFooter">
        <h1 class="leftFooterH1">Reach Us</h1>
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/codingforbaby"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UC-gHze4dg6uKV7YgrppTTAg"><i class="fab fa-youtube"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <h3 class="leftFooterH3"><i class="far fa-envelope"></i>Email : codingforbaby.com</h3>
    </div>
    <div class="middleFooter">
        <h1 class="middleFooterH1">Useful Links</h1>
        <ul>
            <li><a href="https://www.codingforbaby.com"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#exploreCourse"><i class="fas fa-laptop-code"></i>Article Based Course</a></li>
            <li><a href=""><i class="fas fa-address-card"></i>About Us</a></li>
            <li><a href=""><i class="fas fa-user-secret"></i>Privacy Policy</a></li>
            <li><a href=""><i class="fas fa-id-card"></i>Contact Us</a></li>
            <li><a href=""><i class="fas fa-shopping-cart"></i>Shop</a></li>
            <li><a href="https://blog.codingforbaby.com"><i class="far fa-newspaper"></i>Bangla Blog</a></li>
                <li><a href="https://www.youtube.com/channel/UC-gHze4dg6uKV7YgrppTTAg"><i class="fab fa-youtube"></i>Youtube</a></li>
        
        </ul>
    </div>
    <div class="rightFooter">
        <h1 class="rightFooterH1">Join Our Newsletter</h1>
        <form action="">
            <input type="text" placeholder="Join Our Newsletter"><br>
            <input type="submit" value="Subscribe">
        </form>
    </div>
</div>


</body>
</html>