<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME - CodingForBaby.com</title>
    <link rel="stylesheet" href="/Main-Style.css">
    <script src="https://kit.fontawesome.com/5d4ee011b6.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Oswald:wght@500&family=STIX+Two+Math&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="top_header">
        <div class="leftTopHeader">
            <h3 class="leftTopHeaderH3"><i class="far fa-envelope"></i> Email : codingforbaby.com</h3>
        </div>
        <div class="rightTopHeader">
            <div class="rightTopHeaderSocial">
                <ul>
                    <li><a href="https://www.facebook.com/codingforbaby"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UC-gHze4dg6uKV7YgrppTTAg"><i class="fab fa-youtube"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
                
            </div>
        </div>
    </div>
    <div class="bottom_header">
        <div class="left_bottom_header"><img class="logo" src="/img/logo3.png" alt=""><i class="fas fa-align-justify"></i></div>
        <div class="right_bottom_header">
            <ul>
                <li><a href="https://www.codingforbaby.com"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#exploreCourse"><i class="fas fa-laptop-code"></i>Article Based Course</a></li>
                <li><a href=""><i class="fas fa-address-card"></i>About Us</a></li>
                <li><a href=""><i class="fas fa-user-secret"></i>Privacy Policy</a></li>
                <li><a href=""><i class="fas fa-id-card"></i>Contact Us</a></li>
                <li><a href=""><i class="fas fa-shopping-cart"></i>Shop</a></li>
                <li><a href="https://blog.codingforbaby.com"><i class="far fa-newspaper"></i>Bangla Blog</a></li>
            </ul>
        </div>
    </div>
</div>

