<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <center>
    <h1>Welcome To Coding For Baby</h1>
    <h3>We Are Working On Something Big</h3>
    <h3>Please Visit....</h3>
    <a href="blog">Our Bangla Blog</a>
    <!-- <a href="blog">Our Shop</a> -->
</center>

</body>
</html>